
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
</head>

<body>
<div class="container">
    <div class="item" id="IUDjGMsPXBBv" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_IUDjGMsPXBBv = echarts.init(document.getElementById('IUDjGMsPXBBv'), "white");
    let option_IUDjGMsPXBBv = {"animation":true,"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{"show":true,"type":""},"series":[{"name":"销量(斤)","type":"bar","smooth":false,"connectNulls":false,"showSymbol":false,"waveAnimation":false,"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"value":122},{"value":222},{"value":520},{"value":852},{"value":450},{"value":222},{"value":480},{"value":399},{"value":499},{"value":211}]}],"title":{"text":"销售数据"},"tooltip":{"show":false},"xAxis":[{"data":["蘑菇","青菜","西红柿","水蜜桃","鸡蛋","夏威夷果","玉米","地瓜","烟台樱桃","苹果"]}],"yAxis":[{}]}
;
    
	let action_IUDjGMsPXBBv = {"areas":{},"type":""}
;
    
    goecharts_IUDjGMsPXBBv.setOption(option_IUDjGMsPXBBv);
 	goecharts_IUDjGMsPXBBv.dispatchAction(action_IUDjGMsPXBBv);
</script>

<style>
    .container {margin-top:30px; display: flex;justify-content: center;align-items: center;}
    .item {margin: auto;}
</style>
</body>
</html>
