<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
{{/*    避免富文本编辑器爆红*/}}
    <style type="text/css">
        a[href="https://froala.com/wysiwyg-editor"], a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
            display: none !important;
            position: absolute;
            top: -99999999px;
        }
    </style>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->


<link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.css">

<link rel="stylesheet" href="/static/admin/css/basic.css">

<script type="text/javascript" src="/static/admin/bootstrap/js/jquery-1.10.1.js"></script>

<script type="text/javascript" src="/static/admin/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/admin/js/base.js"></script>


