{{template "../public/page_header.html"}}

<script type="text/javascript" src="/static/admin/js/jqPaginator.js"></script>

<div class="panel panel-default">
{{/*    <div class="panel-heading">*/}}
{{/*        <a href="/{{config "String" "adminPath" ""}}/userlist/add" class="btn btn-primary">增加商品</a>*/}}
{{/*    </div>*/}}
    <div class="panel-body">
        <form role="form" class="form-inline" method="get" action="/{{config "String" "adminPath" ""}}/userlist">
            <div class="form-group">
                <label for="name">输入关键词</label>
                <input type="text" class="form-control" value="{{.keyword}}" id="keyword" name="keyword" placeholder="请输入名称">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">开始搜索</button>
            </div>
        </form>
    </div>
    <!--
    列表展示
    -->
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr class="th">
                    <th>用户手机号</th>
                    <th>用户今日发送验证码次数</th>
                    <th>创建时间</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {{range $key,$value := .usertemplist}}

                    <tr>
                        <td>{{$value.Phone}}</td>
                        <td>{{$value.SendCount}}</td>
                        <td>{{$value.AddTime  | unixToDate}}  </td>
                        <td class="text-center">
{{/*                            <a href="/{{config "String" "adminPath" ""}}/userlist/edit?id={{$value.Id}}" />修改</a> 　*/}}
                            <a class="delete" href="/{{config "String" "adminPath" ""}}/userlist/delete?id={{$value.Id}}" />删除</a>
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            <div id="pagination" class="pagination fr">

            </div>
        </div>
    </div>
</div>
<script>

    $(function(){
        $('#pagination').jqPaginator({
            totalPages: {{.totalPages}},
            visiblePages: 10,
            currentPage: {{.page}},
            onPageChange: function (num, type) {
                console.log(num,type)
                if(type=="change"){
                    location.href="/{{config "String" "adminPath" ""}}/userlist?page="+num+"&keyword={{.keyword}}";
                }
            }
        });
    })
</script>

</body>
</html>